<p><i class="fa fa-twitter fa-lg fa-fw"></i> <a href="https://twitter.com/sichinain/" target="_blank">@sichinain</a></p>
<p><i class="fa fa-github fa-lg fa-fw"></i> <a href="https://github.com/siddhantjain/" target="_blank">@siddhantjain</a></p>
<p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://in.linkedin.com/in/siddhant-jain-0b614320" target="_blank">siddhant-jain-0b614320</a></p>
<p><i class="fa fa-laptop fa-lg fa-fw"></i> <a href="http://siddhantjain.github.io/" target="_blank">siddhantjain.github.io</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:post.siddhant@gmail.com" target="_blank">post.siddhant@gmail.com</a></p>